@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background: rgb(23,40,21);
    background: linear-gradient(45deg, rgba(23,40,21,1) 0%, rgb(53, 49, 13) 10%, rgba(112,146,85,1) 100%);
    font-family: "Roboto", sans-serif;
    flex-direction: column
}

.main-heading{

    font-size: 2.5rem;
    margin: 10px;
    color: #d6e0c6;
}
.app{
    box-shadow: 25px 25px 25px rgba(0, 0, 0, .5);
    width: 400px;
    height: 800px;
    text-align: center;
    background-color: #3E5622;
    border: 3px solid #172815;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.container{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;    
    gap: 10px;

    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    box-shadow: 0 0 5px #172815;
    border-radius: 50px;
    background: #3E5622;
}

.info-container{
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: flex-end;

}

.verseInfo{
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 10, 0, .1);
    width: 100%;
    text-align: right;
    border-radius: 10px;
    padding:  5px 20px;

}

#verseInfoArabic{
    font-size: 1.5rem;
}

.verse-arabic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.verse-translation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.verse-arabic h2{
    font-size: 2.5rem;
    line-height: 1.4;
    padding: 5px;
}

.verse-translation h3{
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 5px;
}


#init{
    background-color: hsl(54, 66%, 31%);
    border: 2px solid #172815;
    outline: none;
    color: #9CE37D;
    font-size: 23px;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    margin: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.sub-heading{
    margin: 10px;
    border-bottom: 2px solid white;
}


#verseInfoEnglish{
    text-align: left;
}

#init img{
    width: 50px;
    height: 50px;
}

#init:hover{
    background-color: hsl(54, 66%, 40%);
}
#init:active{
    background-color: hsl(54, 66%, 50%);
}


    
.loader{
    width: 100px;
    height: 100px;
    border: 10px solid gray;
    border-top: 10px solid dodgerblue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loaderbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 120px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);       
     }
}


.hidden{
    display: none;
}

@media screen and (max-height: 801px){
    .app{
        height: 650px
    }
}

#credit{
    padding: 5px;
    font-family: "Roboto", sans-serif;
}
#credit a{
    padding: 0 5px;
    text-decoration: none;
    color: dodgerblue;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 300ms;

}

#credit a:hover{
    color: white;
    border-bottom: dodgerblue 3px solid;

}
